<html> 
<head> 
<title>중복아이디확인</title> 
<style type="text/css"> 
<!-- 
    BODY, table, tr, td, font,input, textarea, select 
    { 
        font-family: 굴림; 
        font-size: 9pt; 
    } 
--> 
</style> 

</head> 

<body> 

<center> 
<font color=Green size=3>중복아이디 검사</font> 
<form method='POST' action="/join/check"> 
<hr size=0 width=300> 
<input type=text name=memberid size=15 maxlength=15 style='border:solid 1;'> 
<td colspan="2"><button type="submit">확인 </button>
<hr size=0 width=300> 
</form> 
</center> 
<body> 
</html>