<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
  
  <br>
    <a href = "/mypage/modify/dutjsdlek">회원정보 수정 </a>
    <br>
    <br>
    <a href = "/mypage/q_a/dutjsdlek"> 내가 쓴 Q&A </a>
    <br>
    <br>
    <a href = "/mypage/mypurchase/dutjsdlek">구매내역 보기 </a>
	<br>
    <br>
    <a href = "/mypage/mywishlist/dutjsdlek">관심 상품 보기 </a>
	<br>
    <br>    
      </body>
</html>
