<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.12.3.min.js"></script>

<!-- 여기 버튼 함수 추가해야함. -->
	

  </head>

  <body>
    <h1><%= title %></h1>


  </body>
</html>
