<!DOCTYPE html>
<html>
	<%include ./1.ejs %>
    
<head>
 <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <table class="table table-hover">

		
			<tr>
				<th colspan="3"><%=%>님의 적립금 정보입니다.</th>
			</tr>
			<tr>
				<td></td>
				<td>적립금</td>
				<td>누적 구매금액</td>
			</tr>
		<table>
		
		<iframe src="/cart.ejs" width=500 height=200 frameborder=1></iframe>
	</body>
</html>